@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: white;
}

.pic1 {
  min-height: 100vh;
  background-image: url(./images/developer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lg_text {
  font-size: 50px;
}

.text_container {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 75px;
  color: white;
}

.black_box {
  width: 100%;
  height: 200px;
  background-color: black;
}

.black_box h2 {
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
}

.lg_text2 {
  font-size: 80px;
}

h3 {
  color: black;
}

.work {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  margin: 20px;
  margin-left: 60px;
}

.card {
  width: 320px;
  height: 300px;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.04);
  transition: 0.2s ease-in-out;
}

.content1 {
  justify-content: center;
}

.content1 h3 {
  padding: 10px;
}

.content1 p {
  margin: 8px;
  color: black;
}

.combining {
  display: flex;
}

.box {
  width: 650px;
  height: 300px;
  background-color: darkgreen;
  margin-top: 30px;
}

.box2 {
  width: 615px;
  height: 300px;
  background-color: brown;
  margin-top: 30px;
}

.content2 p {
  color: white;
  padding-left: 40px;
  justify-content: center;
}

.content2 h1 {
  font-size: 40px;
  margin-top: 30px;
  padding-left: 40px;
  margin-bottom: 7px;
}

.black {
  width: 100%;
  height: 100px;
  background-color: black;
}

.black h2 {
  text-align: center;
  padding-top: 40px;
}
