@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: o;
  background-color: #fff;
}

nav {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav ul li {
  font-size: 1.5rem;
  border-bottom: 2px solid transparent;
}

nav ul li:hover {
  border-bottom: yellow 2px solid;
  cursor: pointer;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}
/* Hero Section */

#hero {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_content {
  padding-left: 40px;
}

.hero_content h1 {
  font-size: 5rem;
  line-height: 1.2;
}
.hero_content h4 {
  font-size: 2rem;
  font-weight: 300;
}

.hero_image img {
  border-radius: 5rem;
}

.card {
  margin-top: 100px;
  display: flex;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
  align-items: center;
  margin-bottom: 50px;
}

.card_content {
  padding-left: 40px;
}

.card_content h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.card_content p {
  margin-right: 100px;
}

.status {
  display: flex;
  margin-top: 30px;
  gap: 300px;
}

.read_btn {
  all: unset;
  font-weight: 600;
  color: black;
}

.status a {
  all: unset;
}

.box_sta a {
  all: unset;
}

.read_btn:hover {
  cursor: pointer;
}

.containers {
  max-width: 320px;
}

.cards img {
  width: 100%;
}

.cards .contents {
  padding: 10px;
}

.contents h2 {
  margin-bottom: 10px;
}

.statusss {
  margin-top: 20px;
  display: flex;
  gap: 100px;
}

.containers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  border: 1px solid #e2e2e2;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.container {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin-bottom: 40px;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.box img {
  width: 100%;
  height: 100%;
}

.box_content {
  margin-right: 40px;
}

.box_content h2 {
  font-size: 60px;
  margin-bottom: 20px;
}

.box_content p {
  justify-content: center;
}

.box_sta {
  margin-top: 30px;
  display: flex;
  gap: 440px;
}

footer {
  padding: 15px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

footer ul {
  display: flex;
  gap: 60px;
}

footer ul li {
  list-style: none;
}

.footer_box {
  padding: 30px 0;
}

/* post page */

.main {
  max-width: 800px;
  margin: 0 auto;
}

.main img {
  margin-top: 50px;
  width: 100%;
  margin-bottom: 20px;
}

.head_line h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.about_author {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.main article {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 50px;
}

.main article h2 {
  font-size: 30px;
}

.main article h3 {
  font-size: 30px;
}
