html,
body {
  height: 100%;
  margin: 0;
  font-family: "lato", sans-serif;
  font-size: 16px;
}

.pimg1 {
  background-image: url(images/image\ 1.png);
  min-height: 100%;
}

.pimg2 {
  background-image: url(images/image2.png);
  min-height: 500px;
}

.pimg3 {
  background-image: url(images/image3.png);
  min-height: 500px;
}

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  background-repeat: repeat;
  background-size: cover;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}

.ptext {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  font-size: 30px;
  text-transform: uppercase;
}

.textBG {
  background-color: black;
  color: white;
  padding: 10px;
}

.section {
  padding: 30px 30px;
  text-align: center;
  background-color: black;
  color: white;
}
